@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;400;500;900&display=swap');
:root{
    --primary:#29e9bc;
    --normal: #ffffff;
    --black: #13131a;
    --bg: #0c1013;
    --danger: #f75842;
    --border: 0.1rem solid rgba(255,255,255,0.3);

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

}

/*Universal selector*/
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    outline-offset: none;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    list-style: none;
    transition: all 0.5 linear;
    scroll-behavior: smooth;
}

/*custom scrollbar*/
::-webkit-scrollbar{
    width: 10px;

}

::-webkit-scrollbar-track{
     background: var(--normal) ;
}

::-webkit-scrollbar-thumb{
    background: var(--black);
}

::-webkit-scrollbar-thumb:hover{
    background: var(--danger);
}

body{
    line-height: 1.7;
    color: var(--normal);
    background-color: var(--bg);
     
}

.container{
    
    width: var(--container-width-lg);
    margin: 0 auto;
}

section{
    padding: 6rem 0;
}

section h2{
    text-align: center;
    margin-bottom: 4rem;

}

h1,h2,h3,h4,h5{
    line-height: 1.2;

}

h1{
    line-height: 2.4rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.6rem;
}

h4{
    font-size: 1.3rem;
}

a{
    color: var(--normal);
}

img{
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn{
    display: inline-block;
    background-color: var(--primary);
    color: var(--black) ;
    padding: 0.5rem 2rem;
    border: 1px solid transparent;
    border-radius: 0.3rem;
    font-weight: 500;
}

.btn:hover{
    color: var(--primary);
    background-color: transparent;
    border-color: var(--primary);
}

.border_bottom{
    text-align: center;
    display: inline-block;
    border-bottom: 2px solid var(--primary);
    color: var(--primary);
    margin-bottom: 2.5rem;

}

nav{
    background-color: var(--black);
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.nav_container{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav_container span{
    color: var(--primary);
}

.nav_container h4{
    font-size: 1.8rem;
}

.nav_container h4::first-letter{
    font-size: 2rem;
}

.nav_container h4:hover{
    color: var(--primary);
    transform: rotateX(360deg);
    transition-duration: 1.8s;
}

nav button{
    display: none;
}

.nav_menu{
    display: flex;
    align-items: center;
    gap: 3rem;

}

.nav_menu a{
    font-size: 1rem;
}

.nav_menu a:hover{
    color: var(--primary);
    border-bottom: 3px solid var(--primary);
    padding-bottom: 0.8rem;
    border-color: var(--black);
}

p{
    padding-bottom: 1000px;
}

/*header section start*/
header {
    position: relative;
    top: 5rem;
    overflow: hidden;
    margin-bottom: 2rem;
    background-color: var(--black);
}

.header_container{
    display: flex;
    align-items: center;
    position: relative;

}

.header_left{
     flex: 1;
}

.header_right{
    flex: 1;
}

.header_container .text-1{
    font-size: 10.8rem;
    margin-bottom: 0.3rem;
}

.header_container .text-2{
    font-size: 3.6rem;
    font-weight: 550;
}

.header_right .text-3{
    font-size: 2.5rem;
    margin: 0.3rem 0;
}

header::before{
    content: "";
    position: absolute;
    background-color: var(--bg);
    width: 100%;
    height: 5rem;
    bottom: 0;
    margin-bottom: -3.1rem;
    z-index: 99;
    transform: skewY(-2deg);
    transform-origin: left;
}

.header_right .typing{
    color: var(--primary);
    font-weight: 500;
}

/*About me*/
.about{
    text-align: center;
}

.about_container{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 2.5rem;
}

.about_container .about_img{
    border: 3px solid var(--primary);
    border-radius: 50%;
    overflow: hidden;
    max-width: 12.5rem;
    max-height: 12.5rem;
    margin-right: 2rem;
    position: relative;
    align-items: center;
    margin-bottom: 2rem;

}

.about_container .about-text{
    max-width: 70%;
    text-align: justify;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
    padding-bottom: 2.5rem;
}

.about_container .about-text p{
    margin-bottom: 0.8rem;
}

.about_container .about-text .text{
    margin-bottom: 1rem;
}

.about_container .about-text .text span{
    color: var(--primary);
    font-weight: 500;
}

/*services*/
.services{
    text-align: center;
    margin-top: -5rem;
}

.serivces_container .cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content:space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.serivces_container .cards .card{
    background-color: var(--primary);
    padding: 1.5rem 1rem;
    margin: 0 1.5rem;
    cursor: pointer;
    position: relative;
}

.sbox i{
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    color: var(-bg);
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 50%;
    padding: 14px;
    transition: all 1s;
}

.sbox h3{
    font-size: 1.2rem;
    color: var(--bg);
}

.sbox p{
    margin: 1.2rem 0;
    color: var(--bg);
}

.sbox a{
    color: var(--normal);
    font-style: 1.2em;
    font-weight: 500;
    padding: 0.3rem 1rem;
    background-color: var(--bg);
    border-radius: 1rem;

}

.sbox a:hover{
    background-color: var(--normal);
    color: var(--bg);
    border: 1px solid var(--bg);
}

.serivces_container .cards .card:hover .sbox i{
    background-color: var(--bg);
    color: var(--normal);
}

.serivces_container .cards .card::after{
    content: "";
    height: 100%;
    width: 100%;
    background-color: var(--normal);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5;
}

.serivces_container .cards .card:hover::after{
    transform: rotate(13deg);
}